html {
	position fixed;
	min-height: 100%;
}

body {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
	color: rgb( 255,255,255 );
}

html,
body {
	overflow: hidden;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

#logo_overlay {
	z-index: 2147483647;
}
